@charset "UTF-8";
.s-index-blanco, .s-index-muebles, .s-index-electro {
  font-size: 2rem;
  color: white;
  font-style: italic;
  font-weight: bold;
}

.ver-mas {
  font-size: 1rem;
  color: white;
  font-style: italic;
  font-weight: normal;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}

.seguinos-container {
  background-color: #f6a13b;
}

.seguinos-container p {
  color: white;
}

.Navbar-container {
  background-color: #f6a13b;
}

.navbar {
  font-family: "Roboto", sans-serif;
  color: white !important;
  z-index: 100;
  position: sticky;
  text-decoration: none;
  display: block;
  border: none;
}
.navbar .navbar-toggler-icon {
  color: white;
}
.navbar .Nav a {
  font-size: 13pt;
  color: white;
}
.navbar .Nav a:hover {
  background-color: #ea554d;
  transform: scale(1.04);
  transition: ease-in 0.5s;
}
.navbar .Nav .submenú {
  background-color: #f6a13b;
  font-family: "Roboto", sans-serif;
  color: white;
}
.navbar .Nav .submenú a {
  font-size: 13pt;
  color: white;
}
.navbar .Nav .submenú a:hover {
  background-color: #ea554d;
  transform: scale(1.04);
  transition: all 0.3s;
}

.nav-responsive {
  background-color: #f6a13b;
  font-family: "Roboto", sans-serif;
  color: white;
  border: none;
}
.nav-responsive a {
  font-size: 13pt;
  color: white;
}
.nav-responsive a:hover {
  background-color: #ea554d;
  transform: scale(1.04);
  transition: all 0.3s;
  color: white;
}

.btn-responsive {
  border: none;
}
.btn-responsive:hover {
  background-color: white;
  transform: scale(1.04);
  transition: all 0.3s;
  color: white;
}

.s-index-electro {
  background-color: #f6a13b;
}

.s-index-muebles {
  background-color: #2f8951;
}

.s-index-blanco {
  background-color: #ea554d;
}

.card-productos {
  background-color: white;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: -1px 0px 10px 2px #4d4d4d;
  width: 12rem;
  height: 18rem;
}
.card-productos:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}
.card-productos .Título-producto {
  color: #333333;
  font-size: 11pt;
  font-weight: bold;
  margin-bottom: 8px !important;
}
.card-productos .descripción {
  color: #666666;
  font-style: italic;
  font-size: 10pt;
}
.card-productos .Precio {
  color: #333333;
  font-size: 13pt;
  font-weight: bold;
  margin-bottom: 8px !important;
}
.card-productos hr {
  justify-content: center;
  height: 2px;
  color: #333333;
  margin: 0 !important;
}
.card-productos .Botón-comprar {
  color: #2f8951;
  font-size: 9pt;
  text-decoration: none;
  border: 1px solid #2f8951;
  padding: 8px;
  background-color: #2f8951;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
}

.Modal-bold {
  font-weight: bold;
  color: #333333;
}

.modal-font {
  font-family: "Roboto", sans-serif;
  color: #666666;
  font-style: italic;
}

.botón-modal-verde {
  font-size: 12pt;
  text-decoration: none;
  border: 1px solid #2f8951;
  padding: 10px;
  background-color: #2f8951;
  color: white !important;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
}

.botón-modal-gris {
  font-size: 12pt;
  text-decoration: none;
  border: 1px solid #666666;
  padding: 10px;
  background-color: #666666;
  color: white !important;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
}

footer {
  background-color: #f6a13b;
  font-family: "Roboto", sans-serif;
  color: white !important;
  text-decoration: none;
  list-style: none !important;
  display: flex;
  justify-content: center;
}
footer .footer-center li {
  text-decoration: none;
  color: white;
}

.by {
  background-color: black;
}
.by a {
  font-size: 10pt;
  font-style: italic;
}

@media only screen and (max-width: 830px) {
  .desktop {
    display: none;
  }

  .s-index {
    margin: 0%;
    padding: 0 !important;
  }

  .seguinos-container {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 950px) {
  .buscador {
    display: none;
  }
}
@media only screen and (min-width: 831px) {
  .mobile {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .footer-left {
    width: 50% px;
  }
  .footer-left img {
    margin: auto;
    display: block;
  }
}
@media only screen and (max-width: 471px) {
  .titulares-index {
    font-size: 18pt;
  }

  .img-desktop {
    display: none;
  }
}
@media only screen and (min-width: 472px) {
  .img-mobile {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
