@charset "UTF-8";
@import "Base/extends";
@import "Base/variables";


html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
}

.seguinos-container {
  background-color: $amarillo;
}

.seguinos-container p {
  color: white;
}

.Navbar-container {
  background-color: $amarillo;
}

.navbar {
  font-family: "Roboto", sans-serif;
  color: white !important;
  z-index: 100;
  position: sticky;
  text-decoration: none;
  display: block;
  border: none;

  .navbar-toggler-icon {
    color: white;
  }
  .Nav {
    a {
      font-size: 13pt;
      color: white;
      
      &:hover {
        background-color: $naranja;
       transform: scale(1.04);
       transition: ease-in 0.5s;
     }
      
    }
    
    .submenú {
      background-color:$amarillo;
      font-family: "Roboto", sans-serif;
      color: white;
        
        a {
        font-size: 13pt;
        color: white;

        &:hover {
           background-color: $naranja;
          transform: scale(1.04);
          transition: all 0.3s;
        }
      }
    }
  }
}


.nav-responsive {
  background-color:$amarillo;
  font-family: "Roboto", sans-serif;
  color: white;
  border: none;
  a {
    font-size: 13pt;
    color: white;

    &:hover {
       background-color: $naranja;
      transform: scale(1.04);
      transition: all 0.3s;
      color: white;
    }
}

}

.btn-responsive {
    border: none;
    &:hover {
    background-color:  white;
     transform: scale(1.04);
     transition: all 0.3s;
     color: white;
    }
}

.ver-mas {
  @extend%vermas;
  
}

.s-index-electro {
  @extend%titulares;
  background-color: $amarillo;
}

.s-index-muebles {
  @extend%titulares;
  background-color: $verde;
}

.s-index-blanco {
  @extend%titulares;
  background-color: $naranja;
}

.card-productos {
  background-color: white;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  box-shadow: -1px 0px 10px 2px rgba(77,77,77,1);
  width: 12rem;
  height: 18rem;

  &:hover {
      transform: scale(1.05);
      transition: transform .5s;            
  }

  .Título-producto {
    color: $grisoscuro;
    font-size: 11pt;
    font-weight: bold;
    margin-bottom: 8px !important;
  }

  .descripción {
    color: $grisclaro;
    font-style: italic;
    font-size: 10pt;
  }

  .Precio {
    color: $grisoscuro;
    font-size: 13pt;
    font-weight: bold;
    margin-bottom: 8px !important;
  }

  hr {
    justify-content: center;
    height: 2px;
    color: $grisoscuro;
    margin: 0 !important;
  }

  .Botón-comprar {
    color: $verde;
    font-size: 9pt;
    text-decoration: none;
    border: 1px solid $verde; 
    padding: 8px; 
    background-color: $verde;
    color: white; 
    text-decoration: none; 
    text-transform: uppercase; 
    border-radius: 50px; 

  }

}

.Modal-bold {
  font-weight: bold;
  color: $grisoscuro;
}

.modal-font {
  font-family: 'Roboto', sans-serif;
  color: $grisclaro ;
  font-style: italic;
}

.botón-modal-verde {
  font-size: 12pt;
  text-decoration: none;
  border: 1px solid $verde; 
  padding: 10px; 
  background-color: $verde;
  color: white !important;
  text-decoration: none; 
  text-transform: uppercase; 
  border-radius: 50px; 
}

.botón-modal-gris {
  font-size: 12pt;
  text-decoration: none;
  border: 1px solid $grisclaro; 
  padding: 10px; 
  background-color: $grisclaro;
  color: white !important;
  text-decoration: none; 
  text-transform: uppercase; 
  border-radius: 50px; 
}


footer {
  background-color: $amarillo;
  font-family: "Roboto", sans-serif;
  color: white !important;
  text-decoration: none;
  list-style: none !important;
  display: flex;
  justify-content: center;

  .footer-center {

    li {
      text-decoration: none;
      color: white;
    }
    
  }
}

.by {
  background-color: black;
  
  a{
    font-size: 10pt;
    font-style: italic;
  }
}

@media only screen and (max-width: 830px) {
  .desktop {
    display: none;
  }
  .s-index {
    margin: 0%;
    padding: 0 !important;
  }
  .seguinos-container {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 950px) {
  .buscador {
    display: none;
  }
}

@media only screen and (min-width: 831px) {
  .mobile {
    display: none;
  }

  
}

@media only screen and (max-width: 767px){
  .footer-left {
    width: 50%px;
    
    img {
    margin: auto;
    display: block;
    }
  }
  
  
}

@media only screen and (max-width: 471px) {
  .titulares-index {
    font-size: 18pt;
  }

  .img-desktop {
    display: none;
  }
}

@media only screen and (min-width: 472px) {
  .img-mobile {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.scss.map */