%titulares {
    font-size: 2rem;
    color: white;
    font-style: italic;
    font-weight: bold;
}

%vermas {
    font-size: 1rem;
    color: white;
    font-style: italic;
    font-weight: normal;

}

