%secciones-index {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.5rem;
}

%recuadros-titulares {
    justify-content: initial;
    padding-left: 30px;
    margin-top: 0.5rem;
}

%titulares-index {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-style: italic;
}


%titulares-categorías {
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    position: relative;
}

%descripciones {
    color: var (--grisclaro);
    font-style: italic;
    font-size: 12pt;
    line-height: 2pt;
    display: inline;
}

